@import '../../style/colors.scss';

.create-issue {
  width: 100%;
  margin: auto;

  &__file-load {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    &-view {
      width: 350px;
      height: 330px;
      background-color: $FIELD_COLOR;
      border: 1px solid $BORDER;
      border-radius: 20px;
      padding: 20px 30px;
      overflow: scroll;
      user-select: text;
    }
  }

  &__textarea {
    border-radius: 20px !important;
    padding: 14px !important;
  }

  &__btns {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 40px;
  }

  .ant-select-selector {
    border-radius: 20px !important;
  }

  .ant-form-item {
    &-label {
      flex: 1 !important;
      text-align: left;
    }

    &-control {
      flex: 4 !important;
    }
  }
}

.uploaded {
  margin-bottom: 0 !important;
}