.main-page {
  &__wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-size: 24px;
    height: 100%;
    min-height: calc(100vh - 140px);
    @media screen and (max-width: 900px) {
      padding: 10px;
      min-height: calc(100vh - 100px);
    }
  }
  &__img {
    width: 100%;
    display: block;
    max-width: 550px;
    margin: 130px auto 40px;
    @media screen and (max-width: 600px) {
      margin: 10px auto;
    }
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #66999b;
    margin-bottom: 50px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    max-width: 515px;
    margin-bottom: 40px;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
  }
  &__btn {
    height: 50px !important;
    font-size: inherit !important;  
    padding: 0 !important;
    flex: 0 0 240px;
  }
  &__input {
    flex: 1 1 200px;
    width: auto;
    font-size: inherit !important;
  }
}