@import '../../style/colors.scss';

.ant-modal-header,
.ant-modal-body {
  background-color: $FORM_COLOR !important;
}

.ant-modal-content {
  border-radius: 30px !important;
  overflow: hidden;
  min-width: 450px;
}
