@import '../../style/colors.scss';

.issue-field {
  width: 250px;
  min-width: 250px;
  height: 60px;
  min-height: 60px;
  background: linear-gradient($FIELD_COLOR, $FORM_COLOR);
  box-shadow: 0 1px 5px $SHADOW_BLACK_50;
  border-radius: 14px;
  padding: 0 14px;
  display: flex;
}
