@import '../../style/colors.scss';
@import './issue-field.scss';

.issue-chips {
  flex-direction: column;
  padding-top: 16px !important;
  margin: 0px 5px 10px 5px;
  user-select: none;

  &._active {
    height: fit-content;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 26px;

    .ant-typography {
      font-size: 1.6em;
      margin-top: 26px;
      width: 100%;
      padding-right: 6px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      position: relative;

      .ant-typography-edit {
        position: absolute;
        right: 10px;
      }
    }
  }

  &__edit,
  &__more,
  &__delete {
    font-size: 1.6em;
    transition: 0.4s;
    cursor: pointer;
    display: none !important;
  }

  &__edit {
    color: $EDIT_COLOR_BLUE !important;
    margin-right: 8px;

    &:hover {
      color: $HOVER_COLOR_BLUE !important;
    }
  }

  &__more {
    color: $DETAILS_COLOR !important;
    margin-right: 8px;

    &:hover {
      color: $DETAILS_HOVER_COLOR !important;
    }
  }

  &__delete {
    color: $TRASH_COLOR !important;

    &:hover {
      color: $HOVER_COLOR_RED !important;
    }
  }

  &__priority {
    font-size: 0.6em;
  }

  textarea {
    font-size: 0.8em;
    margin-left: 12px;
  }
}

// ant-popover вставлен в конец body
.ant-popover-inner {
  border-radius: 20px !important;
  max-width: 300px;
}

.ant-popover-inner-content textarea {
  width: 300px;
}

.issue-chips:hover .issue-chips__edit,
.issue-chips:hover .issue-chips__more,
.issue-chips:hover .issue-chips__delete {
  display: block !important;
}
