@import '../../style/colors.scss';

.clock {
  display: flex;
  position: relative;
  width: 150px;
  height: 65px;
  font-size: 48px;
  font-weight: 700;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 7px 1px $SHADOW_BLACK_50;

  &__title {
    display: flex;
    width: 100%;
    font-size: 9px;
    position: absolute;
    top: 0;
    justify-content: space-around;
  }
  &-item {
    font-size: 9px;
    opacity: 0.8;
  }
  &__digits {
    width: 100%;
    padding-right: 10px;
    text-align: end;
  }
}
