@import '../../style/colors.scss';

.game-page {
  &__current-issue {
    align-self: stretch;
    width: 300px !important;
  }

  &__result {
    margin-top: 30px;
  }

  &__main {
    height: 100%;
    min-height: calc(100vh - 70px - 50px);
    padding: 0 50px 50px;
  }
  &__container {
    margin: 0 auto;
    max-width: 1800px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    min-height: calc(100vh - 412px);
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: 730px) {
      justify-content: center;
    }
  }
  &__container-item {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    @media screen and (max-width: 970px) {
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
  &__item {
    flex-wrap: wrap;
    flex: 0 1 430px;
  }
}
