@import '../../../style/colors.scss';

.chat-message {
  width: 100%;
  height: fit-content;
  background: linear-gradient($FORM_COLOR, $FIELD_COLOR);
  box-shadow: 0 0 10px $SHADOW_BLACK_50;
  border-radius: 10px;
  padding: 10px;

  &__profile {
    display: flex;
    gap: 10px;
  }

  &__avatar {
    margin: auto;
  }

  &__info {
    flex: 1;
  }

  &__name {
    font-weight: bold;
  }

  &__position {
    display: block;
    font-size: 0.8em;
  }

  &__message {
    display: block;
    background-color: $FORM_COLOR;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
  }
}
