@import './section-field.scss';

* {
  user-select: none;
}

.ant-btn-primary {
  border-color: #176ea9;
  background: #176ea9;
}

#root {
  position: relative;
  background: linear-gradient(-45deg, $CHAT_BACKGROUND_COLOR, $BACKGROUND_COLOR);
}
