@import '../../style/colors.scss';

.lobby-page {
  &__main {
    height: 100%;
    min-height: calc(100vh - 70px - 70px - 50px);
  }
  &__container {
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 1500px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__content {
    gap: 32px;
  }
}
