.logo {
  position: absolute;
  top: 10px;
  height: 78px;
  width: 78px;
}

.logo_back {
  transition: fill 0.3s;
  &:hover {
    fill: #ecbd88;
  }
}

@media screen and (max-width: 900px) {
  .logo {
    height: 50px;
    width: 50px;
  }
}
