@import '../../style/colors.scss';

.voting {
  flex: 0 0 300px;
  align-self: stretch;

  &__title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }
  &__card {
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    font-weight: 500;
    box-shadow: 2px 2px 7px 1px $SHADOW_BLACK_50;
    background: linear-gradient($FIELD_COLOR, $FORM_COLOR);
    &_hidden {
      visibility: hidden;
    }
    &.die-cast {
      background: linear-gradient($FIELD_COLOR, $DIE_CAST_COLOR);
    }
  }
}
