@import '../../style/colors.scss';

.chat-form {
  background-color: $FORM_COLOR;
  box-shadow: 0 0 80px 20px $SHADOW_BLACK_50;
  border-radius: 20px;
  min-width: 200px;
  max-width: 350px;
  min-height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  height: 85vh;

  position: absolute;
  padding-top: 0px !important;
  transition: 0.1s;
  z-index: 1000;

  &__header {
    width: 330px;
    position: relative;
  }

  &__btn {
    &-move {
      cursor: move;
      width: 20px;
      height: 20px;
      margin: 0 0 8px 0;
      text-align: center;
      font-size: 1.4em;
      color: $EDIT_COLOR_BLUE;
    }

    &-close {
      position: absolute;
      right: 0;
      top: 6px;
      font-size: medium;
      color: $TRASH_COLOR !important;
      cursor: pointer;
      transition: color 0.4s;

      &:hover {
        color: $HOVER_COLOR_RED;
      }
    }
  }

  &__message-field {
    background: linear-gradient(-45deg, $CHAT_BACKGROUND_COLOR, $BACKGROUND_COLOR);
    box-shadow: inset 0 0 5px $SHADOW_BLACK_50;
    border: 1px solid $CHAT_BACKGROUND_COLOR;
    border-radius: 12px;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    flex: 1;
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: default;
  }

  &__form {
    display: flex !important;
    margin-top: 10px !important;
    width: 100% !important;
  }

  &__textarea-container {
    width: 100%;
    margin: 0 !important;
  }

  &__textarea.ant-input {
    outline: none;
    border: none;
    resize: none;
    box-shadow: none;
    background-color: $FIELD_COLOR;
    border-radius: 12px 0 0 12px;
    height: fit-content;
    white-space: normal;
    min-height: 32px !important;
  }

  .ant-input:focus,
  .ant-input-focused {
    box-shadow: none !important;
  }

  &__btn-field {
    background-color: $FIELD_COLOR;
    border-radius: 0 12px 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__btn-send {
    outline: none !important;
    border: none !important;
    background-color: $FIELD_COLOR !important;
    border-radius: 0 12px 12px 0 !important;
    height: 32px !important;
    min-height: 24px !important;
    width: 40px;
    cursor: pointer;

    &:hover {
      color: $HOVER_COLOR_BLUE;
    }
  }
}
