@import '../../style/colors.scss';

.footer {
  background: linear-gradient(to left, $CHAT_BACKGROUND_COLOR, $HEADER_BACKGROUND_COLOR);
  height: 50px;
  z-index: 20;

  box-shadow: 0 0 10px 5px $SHADOW_BLACK_50;

  &-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__github {
    display: flex;

    &-list {
      margin: 0;
      list-style-type: none;
      display: flex;
      gap: 25px;

      & > li {
        display: flex;
      }

      & > li > a {
        align-self: center;
        font-size: 1.2em;
        color: $FIELD_COLOR;
        transition: color 0.4s;

        &:hover {
          color: $FOOTER_TEXT_COLOR;
        }
      }
    }
  }

  &__rss {
    margin: 12px 10px;
    display: block;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    width: 86px;
    height: 32px;
    padding-right: 135px;

    &:hover .footer__rss-year {
      right: -5px;
      letter-spacing: 0;
    }

    &-year {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 21px;
      letter-spacing: -2px;
      color: $FOOTER_TEXT_COLOR;
      line-height: 0.9;
      font-weight: bold;
      transition: 0.3s;
    }
  }
}

@media screen and (max-width: 900px) {
  .footer {
    height: 50px;
  }
}
