@import '../../style/colors.scss';

.kick-modal {
  width: 450px;
  height: 250px;
  box-shadow: 0 0 20px $SHADOW_BLACK_50;
  background-color: $FORM_COLOR;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  &__text {
    text-align: center;
  }

  &__btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    width: 100px;
  }
}
