@import '../../style/colors.scss';

.player-card {
  max-width: 300px;
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  border-radius: 14px;
  box-shadow: 2px 2px 7px 1px $SHADOW_BLACK_50;
  background: linear-gradient($FIELD_COLOR, $FORM_COLOR);
  &_its-you {
    background: linear-gradient($FIELD_COLOR, $ITEM_CURRENT_COLOR); 
  }
  &__avatar {
    box-shadow: 1px 6px 6px -5px $SHADOW_BLACK_50 inset;
    & .ant-avatar-string {
      transform: translate(-49%, -3%) !important;
      color: white;
      font-weight: 700;
      text-shadow: 0px 3px 2px $SHADOW_BLACK_50;
      font-size: 2em;
    }
    flex-shrink: 0;
  }
  &__content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    & > p {
      margin: 0;
    }
    
  }
  &__it-you, &__name, &__position {
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__name {
    font-size: 1.9em;
  }
  &__it-you {
    position: absolute;
    top: 2px;
    font-size: 1em;
    text-transform: capitalize;
    font-weight: 700;
  } 
  &__position {
    font-size: 1em;
  }
  &__btn {
    margin-left: auto;
    font-size: 3em;
    opacity: 70%;
    transition: opacity 0.3s;
    &:hover {
      opacity: 100%;
    }
  }
}