@import '../../style/colors.scss';

.admin-section {
  &__lobby-link {
    display: flex;
    width: 100%;

    &-text {
      font-size: 1.2rem;
      box-shadow: -30px 25px 20px $SHADOW_BLACK_20;
      height: 40px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding: 6px 14px;
    }

    &-btn {
      border-radius: 20px 0 0 20px !important;
      box-shadow: 0 10px 20px $SHADOW_BLACK_20 !important;
    }
  }

  .ant-form-item-label {
    label {
      font-size: 1.5em;
    }
  }

  &__btns {
    display: flex;
    justify-content: end;
    gap: 20px;
  }
}
