.game-settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & > h4 {
    margin: 0 auto;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__container {
    min-width: 400px;
  }

  &__cards {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

    &-label {
      font-size: 1.4em;
    }
  }

  & > .ant-typography {
    margin-bottom: 30px !important;
  }

  .ant-form-item-label {
    label {
      font-size: 1.4em !important;
    }
  }

  .ant-input {
    border-radius: 20px !important;
    box-shadow: none;
    flex: 1;
  }

  .ant-select-selector,
  .ant-select-dropdown,
  .ant-input-number,
  .ant-input-number-handler-wrap {
    border-radius: 20px !important;
  }

  .ant-input-number-handler-up {
    border-radius: 0 20px 0 0 !important;
  }

  .ant-input-number-handler-down {
    border-radius: 0 0 20px 0 !important;
  }

  .ant-input-number-handler-wrap {
    right: 3px !important;
  }

  .ant-form-item {
    justify-content: space-between !important;
  }

  .ant-form-item-control-input-content {
    position: relative;
    display: flex;
    align-items: center;
  }

  .ant-switch {
    position: absolute;
    right: 0;
  }

  &__number-input .ant-form-item-control-input-content {
    display: flex;
    justify-content: flex-end;
  }
}
