.spring-planing {
  position: relative;
  margin: 0 auto;
  max-width: fit-content;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding-right: 5px;
  margin-bottom: 30px !important;

  @media screen and (max-width: 900px) {
    font-size: 18px;
  }
}
