@import '../../style/colors.scss';

.game-card {
  border-radius: 14px;
  background: linear-gradient($FIELD_COLOR, $FORM_COLOR);
  box-shadow: 0 1px 5px $SHADOW_BLACK_50;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__card-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;

    &-up,
    &-down {
      display: flex;
      position: relative;
    }

    &-up {
      justify-content: start;
    }

    &-down {
      justify-content: end;
    }
  }

  &__inverted-value {
    font-size: 1.2em !important;
    line-height: 1.2em;
    transform: rotate(180deg);
    margin: 0;
  }

  &__delete {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 3px;
    font-size: 1.3em;
    color: $TRASH_COLOR !important;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      color: $HOVER_COLOR_RED !important;
    }
  }

  &__logo-field {
    height: 70%;
    display: flex;
  }

  &__logo {
    font-size: 4em;
    margin: auto;
    &-svg {
      width: 75%;
      height: 75%;
      margin: auto;
    }
  }

  .ant-typography {
    font-size: 1.3em;
    margin: 0 !important;
    line-height: 1.2em;

    &-edit {
      position: absolute;
      right: 0px !important;
    }

    textarea {
      font-size: 0.8em;
      width: 100% !important;
      margin-left: 12px;
      height: 20px !important;
      resize: none !important;
    }
  }
}
