@import '../../../style/colors.scss';
@import '../issue-field.scss';

.issue-add {
  position: relative;
  margin-left: 10px;

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__clickable-field {
    width: 250px;
    min-width: 250px;
    height: 60px;
    min-height: 60px;
    border-radius: 14px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.4s;

    &:hover {
      background-color: $HOVER_COLOR_GREEN_50;
    }
  }

  .ant-typography {
    font-size: 1.5em;
  }

  .anticon-plus {
    font-size: 2em;
  }
}
