@import '../../style/colors.scss';

.game-card-play {
  position: absolute;
  cursor: pointer;
  border-radius: 14px;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
  & {
    &:hover {
      transform: translateY(-35px) translateX(-4px);
      box-shadow: -11px 17px 10px 3px $SHADOW_BLACK_20;
    }
  }
  &__current {
    transform: translateY(-50px) translateX(-4px);
    box-shadow: -11px 17px 10px 3px $SHADOW_BLACK_20;
    & > .game-card {
      background: linear-gradient($FIELD_COLOR, $ITEM_CURRENT_COLOR);
    }
    &:hover {
      transform: translateY(-50px) translateX(-4px);
      box-shadow: -11px 17px 10px 3px $SHADOW_BLACK_20;
      & > .game-card {
        background: linear-gradient($FIELD_COLOR, $ITEM_CURRENT_COLOR);
      }
    }
  }
}
