.statistic {
  display: flex;
  gap: 20px;
  min-height: 165px;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
  }
}
