@import '../../../style/colors.scss';

.card-add {
  width: 120px;
  min-width: 120px;
  height: 190px;
  min-height: 190px;
  border-radius: 14px;

  position: relative;
  transform: perspective(20rem);
  transform-style: preserve-3d;
  transition: all 0.6s;

  &._flipped {
    transform: rotateY(180deg);
  }

  &__front,
  &__back {
    display: flex;
    background-color: $FIELD_COLOR;
    box-shadow: 0 1px 5px $SHADOW_BLACK_50;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 10px;
    backface-visibility: hidden;
    border-radius: inherit;
    background: linear-gradient($FIELD_COLOR, $FORM_COLOR);
  }

  &__front {
    transform: rotateY(0deg);
  }

  &__back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-header {
      display: flex;
      justify-content: space-between;

      &-info,
      &-close {
        text-align: end;
        font-size: 1.3em;
        transition: 0.4s;
        cursor: pointer;
      }

      &-info {
        color: $HOVER_COLOR_BLUE !important;
      }

      &-close {
        &:hover {
          color: $HOVER_COLOR_RED;
        }
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  &__input.game-settings.ant-input {
    width: 80%;
  }

  &__btn-add {
    width: 40px;
    height: 40px !important;
    padding: 0 !important;

    &-icon {
      font-size: 38px;
    }
  }

  &__prompt {
    visibility: hidden;
    opacity: 0;
    font-size: 0.7em;
    line-height: 1em;
    transition: 0.4s;

    &._active {
      visibility: visible;
      opacity: 1;
      transition: 0.4s;
    }
  }

  &__add-icon {
    margin: auto;
    font-size: 5em;

    &:first-child {
      transition: 0.4s;
      cursor: pointer;

      &:hover {
        color: $HOVER_COLOR_BLUE;
      }
    }
  }
}
