@import '../../style/colors.scss';

.header {
  height: 100px;
  z-index: 20;
}

.header_wrapper {
  background: linear-gradient(to left, $CHAT_BACKGROUND_COLOR, $HEADER_BACKGROUND_COLOR);
  height: 49%;
  box-shadow: 0 0 10px 5px $SHADOW_BLACK_50;
}
.header_content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.chat-icon {
  font-size: 2em;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    color: $DIE_CAST_COLOR !important;
  }
}

@media screen and (max-width: 900px) {
  .header {
    height: 71px;
  }
  .chat-icon {
    font-size: 1.2em;
  }
}

h1 {
  opacity: 0;
  font-size: 0.1px;
  width: 0;
}
