@import '../../style/colors.scss';

.lobby-connect-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #293541;
}

.lobby-connect-title {
  max-width: 100%;
  padding: 20px;
}

.lobby-connect-form {
  background-color: $FORM_COLOR;
  box-shadow: 0 0 50px $SHADOW_BLACK_50;
  border-radius: 30px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  margin-top: 20px;

  &__input {
    display: flex;
    background-color: $FIELD_COLOR;
    border-radius: 20px 20px;
    border: 1px solid $BORDER;

    &-span {
      margin: auto;
      padding-left: 10px;
      padding-right: 10px;
      max-width: 250px;
    }

    &-field {
      border-radius: 0 20px 20px 0 !important;
      border: none !important;
      min-width: 120px !important;
    }
  }

  &__btns {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 50px;
  }
  &__avatar_btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  &__avatar {
    box-shadow: 1px 6px 6px -5px $SHADOW_BLACK_50 inset;
    & .ant-avatar-string {
      transform: translate(-49%, -3%) !important;
      color: $FIELD_COLOR;
      font-weight: 700;
      text-shadow: 0px 3px 2px $SHADOW_BLACK_50;
      font-size: 1.5em;
    }
    flex-shrink: 0;
  }
}

.ant-tooltip {
  &-inner {
    border-radius: 7px !important;
    background-color: white !important;
  }
  &-arrow-content {
    background-color: white !important;
  }
}
