@import '../../style/colors.scss';

.result-page {
  &__main {
    height: 100%;
    min-height: calc(100vh - 70px - 50px);
  }
  &__container {
    margin: 50px auto;
    max-width: 1500px;
    width: 90vw;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }
  &__content {
    gap: 32px;
  }
  &__bnt-containet {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}
